
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osu Api Proxy &ndash; Error</title>
    <link rel="stylesheet" href="/css/sakura-dark.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <h1>Unfortunately there was an error! :(</h1>
    <div>{{.Error}}</div>
    <div>Please try again</div>
</body>
