<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osu Api Proxy</title>
    <link rel="stylesheet" href="/css/sakura-dark.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
    <h1>Hello!</h1>
    {{ if .EnableAuth }}
    <div>
        To authenticate and get your api key, click the button. 
        You will be redirected to the osu site, where you have to give us access to the api with your account.
        Then you will be redirected back to us, and you will get your key.
    </div>
    <a class="clickbox" href="{{ .OsuAuthURL }}">
        <div>Authenticate</div>
    </a>
    {{ else }}
    <div>
        Registration is currently disabled.
    </div>
    {{ end }}

    <footer>
        <p>Commit <a href="https://github.com/ShaddyDC/osu-api-proxy/tree/{{ .BuildCommit }}" class="commit">{{ .BuildCommit }}</a></p>
        <p>{{ .BuildTime }}</p>
    </footer>
</body>
